*.pyc
*~
*.swp
__pycache__
.coverage
.project
.pydevproject
cpwp/data/*
.settings
cpwp/appdata/*
cpwp/studydata/*
cpwp/studydata-test/*
cpwp/logdata/*
cpwp/cwp/public/test-report.html
cpwp/cwp/public/css/bundle.css*
cpwp/cwp/public/css/styles.css*
cpwp/cwp/public/node_modules/*
cpwp/cwp/public/yarn.lock
.pytest_cache/
build
bin/
docs/_build
dist
htmlcov
*.egg-info
*report.xml
ghostdriver.log
.externalToolBuilders/*
*.egg
*.log
*.pid
env/*
*.sqlite
.RData
*.ini
.cache
!mypy.ini
*.Rout
xunit-report-pytest.xml
/ERR/*
*.ipynb*
notebooks/
contrib/MySQL_UDF/SMART_cast/*.exe
contrib/MySQL_UDF/SMART_cast/*.so
.hypothesis
.awcache/
.vscode/
.env
.idea/*
.tox/
.mypy_cache/
.DS_Store
celerybeat-schedule
celerybeat-schedule.bak
celerybeat-schedule.dir
celerybeat-schedule.dat
celerybeat-schedule.db
.mypy_cache/
